#searchDiv{
    margin-top: 10%
}
#searchInput,#searchButton{
    height: 40px;
}
#contextPath{
    display:none
}
#searchMenu{
    display:none;
    width: 100%;
}
#searchMenu > li{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff2') format('woff2'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont{
    cursor:default;
}
#chartDiv{
    height: 300px;
}
#chartNoDataDiv{
    display: none;
    text-align: center;
    font-family: '微软雅黑';
    font-size: 50px;
    color: #dadada;
    margin-top: 80px;
}

